# sbt specific
target/
project/target/
project/project/
.cache/
lib_managed/
src_managed/
dist/
logs/
# sbt boot directories
boot/
lib/
# sbt build staging area
.staging/

# Scala-IDE specific
.cache-main/
.worksheet/

# Eclipse specific
*.class
*.log
*.tmp
*.bak
*.swp
*~
.metadata
.tmp/
tmp/
bin/
.antlr/

# Idea specific
*.iml
*.ipr
*.iws
.idea/

# VS Code specific
.vscode/

# Mac specific
.DS_Store
